<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style type="text/css">
        .bgimg {
            background-image: url('~/Images/~/Images/west-seattle-tool-lending-library.jpg');
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Tool Library 1.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dashboard.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
                    }
                 </ul>                      
                 @Html.Partial("_LoginPartial")                                            
                 <div class="col-sm-3 col-md-3">
                    @using (Html.BeginForm("Index", "Tools", new { @class = "navbar-form", role = "search" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("SearchString", null, new { type = "text", @class = "form-control", placeholder = "Search" })
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" style="float:right"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                     }
                  </div>
             </div>
            </div>
       </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @Html.Action("Menu", "Categories", new { selectedCategoryId = ViewBag.SelectedCategoryId != null ? ViewBag.SelectedCategoryId : 0 })
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
       </div>
   </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

