@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<li>@Html.ActionLink("Add A User", "Index", "UsersAdmin")</li>
<li>@Html.ActionLink("Add a Role", "Index", "RolesAdmin")</li>
<li>@Html.ActionLink("Create a Tool", "Create", "Tools")</li>
<li>@Html.ActionLink("Create a Category", "Create", "Categories")</li>
<li>@Html.ActionLink("View all Tools", "Index", "Tools")</li>
