@using ToolLibrary.Models
@model PagedList.IPagedList<ToolLibrary.Models.Tool> 
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<p>
    @if (User.IsInRole("admin")) { Html.ActionLink("Create New", "Create", "Tools"); }
</p>
<div class="row">
    <div><b>Search:</b></div>
    @using (Html.BeginForm("Index", "Tools", FormMethod.Get))
    {  <div>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </div><div>
    <input type="submit" value="Search" class="btn btn-default" />
</div> }
</div>
    <div class="row">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, categoryId = ViewBag.CategoryID, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Name", "Index", new { categoryId = ViewBag.CategoryID, sortOrder = ViewBag.NameSortParm }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Description", "Index", new { categoryId = ViewBag.CategoryID, sortOrder = ViewBag.DescriptionSortParm })
                    </th>
                    <th>
                        Manufacturer
                    </th>
                    <th>
                        Availablity:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                        <td>
                            @if (item.IsCheckedOut)
                            { <p>Checked Out</p>}
                        </td>
                        <td>

                            @Html.ActionLink("Details", "Details", new { id = item.Id, categoryId = ViewBag.CategoryId })
                            @if (User.IsInRole("admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />



